
.ChatMainPage
{
	height:100%;
    text-align: center;
}

.left
{
	float:left;
	width:50%;
	box-sizing:border-box;
	padding:5px;
	border:#CCC solid 1px;
	min-height:200px;
}

.right
{
	float:left;
	width:50%;
	box-sizing:border-box;
	padding:5px;
	border:#CCC solid 1px;
	min-height:200px;
}
